In [1]:
import pandas as pd
import numpy as np
import glob
import zipfile

In [2]:
with zipfile.ZipFile("release_statsreview_release1.zip") as zip_file:
    golub_data, golub_classnames = ( np.genfromtxt(zip_file.open('data_and_materials/golub_data/{}'.format(fname)), delimiter=',', names=True, converters={0: lambda s: int(s.strip(b'"'))}) for fname in ['golub.csv', 'golub_cl.csv'] )

In [3]:
# golub_data
# T to transpose data frame
data = pd.DataFrame(golub_data).T[1:]
classname = pd.DataFrame(golub_classnames).iloc[:,1]
data.head()

,0,1,2,3,4,5,6,7,8,9,...,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050
V1,-1.45769,-0.75161,0.45695,3.13533,2.76569,2.64342,3.16885,2.88860,3.22372,3.22372,...,-0.31273,-0.69342,-0.30476,-0.21661,1.08935,0.04695,-0.20467,0.45231,-0.35920,-0.86079
V2,-1.39420,-1.26278,-0.09654,0.21415,-1.27045,1.01416,3.09954,2.95355,3.09954,3.09954,...,-0.45147,-0.80743,-0.72056,-0.65287,0.22701,0.48704,-0.07832,0.42686,-0.43633,-1.39420
V3,-1.42779,-0.09052,0.90325,2.08754,1.60433,1.70477,2.99977,2.99977,2.99977,2.99977,...,-0.76907,-0.51414,-0.11296,0.27332,0.31272,0.72170,-1.00615,0.67579,0.34031,-0.73766
V4,-1.40715,-0.99596,-0.07194,2.23467,1.53182,1.63845,3.28898,3.03972,3.34097,3.35455,...,-0.03863,-1.17554,-0.25346,-0.35475,0.47450,0.58403,-0.88748,0.31524,-0.90930,-1.19031
V5,-1.42668,-1.24245,0.03232,0.93811,1.63728,-0.36075,3.19368,3.21721,3.27515,3.27515,...,-0.99706,-1.42668,-0.99706,-0.89248,0.27257,0.30600,0.07175,-0.57779,-0.36663,-1.42668

In [28]:
data.shape

(38, 3051)

In [4]:
Xs = data.values
Ys = classname.values

In [5]:
X_all = Xs[0:27,:]
X_aml = Xs[27:,:]

In [27]:
# calculate the mean of each column
mean_all = np.mean(X_all, axis=0).sum() / X_all.shape[0]
mean_aml = np.mean(X_aml, axis=0).sum() / X_aml.shape[0]
mean_all

-7.07818930289216e-06